#index-banner.parallax-container.main-bg.dark
  .section.no-pad-bot
    .container
      h1.header.center.white-text Feature 1
      .row.center
        h5.header.col.s12.light
      .row.center
        a.btn-large.waves-effect.waves-light.indigo(href="#get-started") Get Started

.container-fluid.grey.lighten-4
  .section
    .container
      .row
        .col.s12.center
          h4.light  How It Works?
      .row
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.orange-text.text-darken-3
            h5 Feature 1
            p.light
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.green-text.text-darken-3
            h5 Feature 2
            p.light
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.blue-text.text-darken-3
            h5 Feature 3
            p.light

.container-fluid
  .section
    .container
      .row
        .col.s12.center
          h4.light  About Us
      .row
        .col.s12.m3.center
          .icon-block
            h2.center
              img.circle(src="http://placehold.it/150x150")
            h5
            p.light
        .col.s12.m3.center
          .icon-block
            h2.center
              img.circle(src="http://placehold.it/150x150")
            h5
            p.light
        .col.s12.m3.center
          .icon-block
            h2.center
              img.circle(src="http://placehold.it/150x150")
            h5
            p.light
        .col.s12.m3.center
          .icon-block
            h2.center
              img.circle(src="http://placehold.it/150x150")
            h5
            p.light
